# Dependencies
node_modules/
dist/

# Environment variables
.env
.env.*
!.env.example

# Google Service Account
*.json
!package.json
!package-lock.json

# Logs
logs
*.log
npm-debug.log*

# Testing
coverage/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Uploads
uploads/ 